
@media (max-width: 720px) {
  .page {
    padding: 10px !important;
    margin: 0 !important;
    width: 100% !important;
  }
  .page h2  {
    font-size: 2rem;
  }
  .page h2  {
    font-size: 2rem;
  }
}

.table > thead {
    display: none;
}